{% extends "layout/layout.html" %}

{% block header_scripts %}
{% endblock %}
{% block content %}
    <section class="p-0 bg-light">
        <div class="container p-3 p-lg-5" style="min-height:580px;">
            <div class="mb-4">
                <h3>{{ pageData.pageTitle }}</h3>
            </div>
            <div class="row">
                <!-- List group -->
                <div class="col-lg-2 mb-3">
                    <div class="list-group" id="myList" role="tablist">
                        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#home" role="tab">Blog</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#write" role="tab">Write</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#search" role="tab">Search</a>
                    </div>
                </div>
                <!-- Tab panes -->
                <div class="col-lg-10">
                    <div class="tab-content">
                        <div class="tab-pane card active p-3" id="home" role="tabpanel">home...</div>
                        <div class="tab-pane card p-3" id="write" role="tabpanel">profile...</div>
                        <div class="tab-pane card p-3" id="search" role="tabpanel">messages...</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer_scripts %}
    <script>
        $(document).ready(function() {
            $(".top-menuitem.nav-link:eq(2)").addClass('active');
        });
    </script>
{% endblock %}
