{% extends "layout/layout.html" %}
{% import "widget_tags.html" as widget_tags %}

{% macro render_homepanel(blogList, nextPage, offsetPos) -%}
    {% for blog in blogList %}
        <div class="blog-wrap">
            {% if not loop.first %}
                <hr class="mt-3 mb-3 mt-lg-5 mb-lg-5 hr-separator">
            {% endif %}
            <div class="custom-blog-title mb-4">
                <span class="h3">{{ blog['title'] }}</span>
                <small><a href="{{ blog['id'] }}" class="blog-edit">Edit</a></small>
            </div>
            <div class="mb-3">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <span>{{ blog['time'] }}</span>
                    </li>
                    {% for objecttag in blog['tags'] %}
                        <li class="list-inline-item">
                            <span class="badge badge-pill badge-warning">{{ objecttag }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="custom-blog-content">
                {% autoescape false %}
                    {{ blog['content'] }}
                {% endautoescape %}
            </div>
            <div class="text-right">
                <small><a href="{{ blog['id'] }}" class="blog-delete">Delete</a></small>
            </div>
        </div>
    {% endfor %}
    {% if nextPage > 0 %}
        <div class="mt-3 mb-3 mt-lg-5 mb-lg-5 text-center nextab">
            <button id="loadmore" class="btn btn-success" nextpage="{{ nextPage }}" offset="{{ offsetPos }}">Load More ...</button>
        </div>
    {% endif %}
{%- endmacro %}

{% macro render_writepanel(objectTags, tagsList, manageTagsLink) -%}
    <form id="writeform" method="POST">
        <input type="hidden" id="blogid" name="blogid" value="0">
        <div class="mb-4 h5">
            Operation: <strong><span id="action" class="text-primary">NEW</span></strong>
        </div>
        <div class="form-group mb-4">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <label for="blogtitle" class="col-form-label col-form-label-lg text-lg-right font-italic">Title: </label>
                </li>
                <li class="list-inline-item">
                    <input type="text" id="blogtitle" name="blogtitle" class="form-control form-control-lg" placeholder="Blog Title" required>
                </li>
            </ul>
        </div>
        {{ widget_tags.render_tags_part(objectTags, tagsList, manageTagsLink) }}
        <div class="mb-3">
            <textarea id="blogcontent" name="blogcontent"></textarea>
        </div>
        <div id="writetabresponse" class="mb-4"></div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-warning">Save Blog</button>
        </div>
    </form>
{%- endmacro %}

{% macro render_searchpanel() -%}
    <form id="searchform" method="POST">
        <div class="mb-3">
            <ul class="list-inline custom-search-tag-container">
                <li class="list-inline-item">
                    <span class="font-italic">Include Tags: </span>
                </li>
            </ul>
        </div>
        <div class="col-lg-10 p-0 mb-3">
            <input type="text" name="searchterms" id="searchterms" class="form-control" placeholder="Search Terms">
        </div>
        <div class="row mb-3">
            <div class="col-lg-2 mb-3">
                <button id="reset" class="btn btn-info">Reset</button>
            </div>
            <div class="col-lg-8 text-lg-right">
                <button type="submit" class="btn btn-success">Search Blog</button>
            </div>
        </div>
    </form>
    <div class="mt-3 mb-3 custom-search-result">
        <div id="custom-search-result-count" class="font-italic"></div>
        <div id="custom-search-result-list"></div>
    </div>
{%- endmacro %}

{% block header_scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cdn/simplemde.min.css') }}">
{% endblock %}
{% block content %}
    <section class="p-0 bg-light">
        <span class="sr-only activepanel">{{ pageData.activePanelID }}</span>
        <div class="container p-3 p-lg-5" style="min-height:600px;">
            <div class="mb-4">
                <h3>{{ pageData.pageTitle }}</h3>
            </div>
            <div class="row">
                <!-- List group -->
                <div class="col-lg-2 mb-3">
                    <div class="list-group" id="menuList" role="tablist">
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#home" role="tab">Blog</a>
                        <a id="newblog" class="list-group-item list-group-item-action" data-toggle="list" href="#write" role="tab">Write</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#search" role="tab">Search</a>
                    </div>
                </div>
                <!-- Tab panels -->
                <div class="col-lg-10">
                    <div id="panelList" class="tab-content">
                        <div class="tab-pane card p-3 p-lg-5" id="home" role="tabpanel">
                            {{ render_homepanel(pageData.blogList, pageData.nextPage, pageData.offsetPos) }}
                        </div>
                        <div class="tab-pane card p-3 p-lg-5" id="write" role="tabpanel">
                            {{ render_writepanel(pageData.objectTags, pageData.tagsList, pageData.manageTagsLink) }}
                        </div>
                        <div class="tab-pane card p-3 p-lg-5" id="search" role="tabpanel">
                            {{ render_searchpanel() }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer_scripts %}
    <script src="{{ url_for('static', filename='js/cdn/simplemde.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/widget_tags.js') }}"></script>
    <script src="{{ url_for('static', filename='js/blog_index.js') }}"></script>
{% endblock %}
