{% extends "layout/layout.html" %}

{% block header_scripts %}
{% endblock %}
{% block content %}
    <section class="p-0 bg-light">
        <div class="container p-3 p-lg-5">
            <div class="mb-4">
                <h3>{{ pageData.pageTitle }}</h3>
            </div>
            <div class="d-flex justify-content-between mb-4">
                <a href="/exceljson?file=example.csv"><button class="btn btn-primary">Read data from CSV</button></a>
                <a href="/exceljson?file=example.xlsx"><button class="btn btn-success">Read data from XLSX</button></a>
                <a href="/exceljson?file=example.json"><button class="btn btn-info">Read data from JSON</button></a>
            </div>
            <form action="/exceljson/output" method="POST">
                <div class="col-lg-8 pb-3">
                    <h5 class="text-secondary font-italic">
                        The following data read from 
                        <span class="text-info text-capitalize">{{ pageData.inputFile }}</span>.
                    </h5>
                    <div>
                        <table class="table table-striped table-bordered">
                            <tbody>
                            {% for item in pageData.contentDataList %}
                                    <tr>
                                        <td><input type="text" class="form-control border-0 fsdemo-nobg" placeholder="input text" name="COL1" value="{{ item['COL1'] }}"></td>
                                        <td><input type="text" class="form-control border-0 fsdemo-nobg" placeholder="input text" name="COL2" value="{{ item['COL2'] }}"></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-7">
                        <label for="outputFormat">File Format: </label>
                    </div>
                    <div class="col-lg-7 input-group">
                        <select class="custom-select" name="outputFormat" id="outputFormat">
                            <option value="csv">CSV File</option>
                            <option value="xlsx">XSLX File</option>
                            <option value="json">JSON File</option>
                        </select>
                        <div class="input-group-append">
                            <input type="submit" class="btn btn-warning" value="Output File">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
{% block footer_scripts %}
    <script src="{{ url_for('static', filename='js/exceljson_index.js') }}"></script>
{% endblock %}
