{% extends "layout/layout.html" %}

{% block header_scripts %}
{% endblock %}
{% block content %}
    <section class="p-0 bg-light">
        <div class="container p-3 p-lg-5" style="min-height:580px;">
            <div class="mb-4">
                <h3>{{ pageData.pageTitle }}</h3>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                           <img class="img-fluid" src="{{ url_for('static', filename='imgs/whatisit.svg') }}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <form id="uploadform" method="POST" enctype="multipart/form-data" action="">
                        {% if action == 'UPLOAD' %}
                            <div class="custom-file mb-4">
                                <input type="file" class="custom-file-input" name="photo" id="photo">
                                <label class="custom-file-label" for="photo" data-browse="Choose Image File">JPG/GIF/SVG/PNG accepted.</label>
                            </div>
                        {% endif %}
                        <div class="mb-4">
                            <div class="mb-4">
                                <ul class="list-inline custom-tag-container">
                                    <li class="list-inline-item">
                                        <span class="font-italic">Tags: </span>
                                    </li>
                                    {% for objecttag in pageData.objectTags %}
                                        <li class="list-inline-item custom-tag">
                                            <span class="badge badge-primary">
                                                <span class="h6">{{ objecttag }} &times;</span>
                                            </span>
                                            <input type="hidden" name="tags" id="tags" value="{{ objecttag }}">
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="form-row">
                                <div class="col-6">
                                    <select id="taglist" class="custom-select">
                                        <option value="" selected>Select Tag</option>
                                        {% for tagitem in pageData.allTagList %}
                                            <option value="{{ tagitem }}">{{ tagitem }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-2">
                                   <button id="addtag" type="button" class="btn btn-info custom-tag-add"><strong>&plus;</strong></button>
                                </div>
                                <div class="col-4">
                                    <button id="tagsman" type="button" class="btn btn-info" data-toggle="modal" data-target="#tagsMangementModal">Manage Tags</button>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="font-italic" for="caption">Image description</label>
                            <textarea class="form-control" id="caption" rows="5" placeholder="Description about the picture">{{ pageData.objectDesc }}</textarea>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-warning">Upload and Submit</button>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </section>

<!-- Modal dialog -->
<div class="modal fade" id="tagsMangementModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Manage Tags</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row mb-1">
                    <div class="col"><strong>Tag List:</strong></div>
                </div>
                <div class="custom-mt-tag-container">
                    {% for tagitem in pageData.allTagList %}
                        <div class="form-row custom-mt-tag-row mt-1 mb-1">
                            <div class="col-11 custom-mt-tag-name">{{ tagitem }}</div>
                            <div class="col-1" title="Remove Tag">
                                <button type="button" class="btn btn-sm btn-danger custom-mt-tag-remove"><strong>&minus;</strong></button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-row">
                    <div class="col-11">
                        <input type="text" id="mt-addtag-text" class="form-control" placeholder="Input Tag Name" value="">
                    </div>
                    <div class="col-1">
                        <button id="mt-addtag" type="button" class="btn btn-sm btn-info custom-tag-add"><strong>&plus;</strong></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary mt-save">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block footer_scripts %}
    <script src="{{ url_for('static', filename='js/gallery_item.js') }}"></script>
{% endblock %}
