{% extends "layout/layout.html" %}

{% block header_scripts %}
{% endblock %}
{% block content %}
    <section class="p-0 bg-light">
        <div class="container p-3" style="min-height:580px;">
            <div class="mb-4">
                <h3>{{ pageData.pageTitle }}</h3>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                           <img class="img-fluid" src="{{ url_for('static', filename='imgs/whatisit.svg') }}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <form id="uploadform" method="POST" enctype="multipart/form-data" action="">
                        <div class="custom-file mb-4">
                            <input type="file" class="custom-file-input" name="photo" id="photo">
                            <label class="custom-file-label" for="photo" data-browse="Choose Image File">JPG/GIF/SVG/PNG accepted.</label>
                        </div>
                        <div id="tags" class="mb-4">
                            <div class="mb-4">
                                <span class="font-italic">Tags: </span>
                                <span class="custom-tag badge badge-info">
                                    <span class="h6">Tag1 &times;</span>
                                </span>
                                <span class="custom-tag badge badge-info">
                                    <span class="h6">Tag2 &times;</span>
                                </span>
                                <span class="custom-tag badge badge-info">
                                    <span class="h6">Tag3 &times;</span>
                                </span>
                            </div>
                            <div class="form-row">
                                <div class="col-6">
                                    <select class="custom-select">
                                        <option selected>Select Tag</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="col-2">
                                   <button id="addtag" type="button" class="btn btn-primary">+</button>
                                </div>
                                <div class="col-4">
                                    <button id="tagsman" type="button" class="btn btn-primary" data-toggle="modal" data-target="#tagsMangementModal">Manage Tags</button>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="font-italic" for="caption">Image description</label>
                            <textarea class="form-control" id="caption" rows="5"></textarea>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-warning">Upload and Submit</button>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer_scripts %}
    <script>
        $(document).ready(function() {
            $(".top-menuitem.nav-link:eq(1)").addClass('active');
        });
    </script>
{% endblock %}
