{% extends "layout/layout.html" %}

{% block header_scripts %}
{% endblock %}
{% block content %}
    <section class="p-0 bg-light">
        <div class="container p-3 p-lg-5" style="min-height:580px;">
            <div class="mb-4">
                <h3>{{ pageData.pageTitle }}</h3>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                           <img class="img-fluid" src="{{ url_for('static', filename='imgs/whatisit.svg') }}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <form id="uploadform" method="POST" enctype="multipart/form-data" action="">
                        <div class="custom-file mb-4">
                            <input type="file" class="custom-file-input" name="photo" id="photo">
                            <label class="custom-file-label" for="photo" data-browse="Choose Image File">JPG/GIF/SVG/PNG accepted.</label>
                        </div>
                        <div class="mb-4">
                            <div class="mb-4">
                                <ul class="list-inline custom-tag-container">
                                    <li class="list-inline-item">
                                        <span class="font-italic">Tags: </span>
                                    </li>
                                    <li class="list-inline-item custom-tag">
                                        <span class="badge badge-primary">
                                            <span class="h6">Tag1 &times;</span>
                                        </span>
                                        <input type="hidden" name="tags" id="tags" value="Tag1">
                                    </li>
                                    <li class="list-inline-item custom-tag">
                                        <span class="badge badge-primary">
                                            <span class="h6">Tag2 &times;</span>
                                        </span>
                                        <input type="hidden" name="tags" id="tags" value="Tag2">
                                    </li>
                                </ul>
                            </div>
                            <div class="form-row">
                                <div class="col-6">
                                    <select id="taglist" class="custom-select">
                                        <option value="" selected>Select Tag</option>
                                        <option value="Tag C1">Tag C1</option>
                                        <option value="Tag C2">Tag C2</option>
                                        <option value="Tag C3">Tag C3</option>
                                    </select>
                                </div>
                                <div class="col-2">
                                   <button id="addtag" type="button" class="btn btn-info">+</button>
                                </div>
                                <div class="col-4">
                                    <button id="tagsman" type="button" class="btn btn-info" data-toggle="modal" data-target="#tagsMangementModal">Manage Tags</button>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="font-italic" for="caption">Image description</label>
                            <textarea class="form-control" id="caption" rows="5"></textarea>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-warning">Upload and Submit</button>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </section>

<!-- Modal dialog -->
<div class="modal fade" id="tagsMangementModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block footer_scripts %}
    <script src="{{ url_for('static', filename='js/gallery_upload.js') }}"></script>
{% endblock %}
