{% extends "layout/layout.html" %}

{% block header_scripts %}
{% endblock %}
{% block content %}
    <section class="p-0 bg-light">
        <div class="container p-3 p-lg-5" style="min-height:580px;">
            <div class="row">
                {% autoescape false %}
                    <div class="col-lg-6 fsdemo-markdown">
                        <h3>Latest Gallery</h3>
                        <div></div>
                    </div>
                    <div class="col-lg-6 fsdemo-markdown">
                        <h3>Latest Blog</h3>
                        <div></div>
                    </div>
                {% endautoescape %}
            </div>
        </div>
    </section>
{% endblock %}
{% block footer_scripts %}
    <script>
        $(document).ready(function() {
            $(".top-menuitem.nav-link:eq(0)").addClass('active');
        });
    </script>
{% endblock %}
