bumpversion==0.5.3
Click==7.0
et-xmlfile==1.0.1
Flask==1.1.1
Flask-Uploads==0.2.1
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.3
lml==0.0.9
Markdown==3.1.1
MarkupSafe==1.1.1
openpyxl==2.5.14
pkg-resources==0.0.0
pyexcel-io==0.5.20
pyexcel-xlsx==0.5.7
SQLAlchemy==1.3.11
Werkzeug==2.2.3
